*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-box { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 600px;
    background-color: #1c1c1c;
}
#form-box input , button, select{
    outline: none;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #414141;
    width: 90%;
    padding: 10px;
    margin: 10px 5%;
    transition: 1s;
}
#form-box input::placeholder {
    color: whitesmoke;
}
button:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: #000;
}

#form-box select {
    width: 90%;
    padding: 10px;
    margin: 10px 5%;
}